@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <H2>You want an appointment?</H2>
    <p>You are at the right place</p>
        <a class="btn btn-outline-light shadow-sm  text-bg-dark active " asp asp-controller="Appointments" asp-action="Create">Choose a time</a>
    </div>
